:root {
    --primary-color: #49a6e9;
    --rgb-primary-color: 73, 166, 233;

    /* PRIMARY COLORS */
    --primary-color-1: #0e1a26;
    --primary-color-2: #1c2e40;
    --primary-color-3: #2d455c;
    --primary-color-4: #3e6380;
    --primary-color-5: #4fa7db;
    --primary-color-6: #87c3eb;
    --primary-color-7: #a3d0ef;
    --primary-color-8: #bde0f3;
    --primary-color-9: #daf1fa;
    --primary-color-10: #f3fbfe;

    --color-black: #000;
    --color-white: #fff;
    --color-gold: #c59d5f;

    --rgb-black: 0, 0, 0;
    --rgb-gray: 128, 128, 128;

    --overlay-black: rgba(0, 0, 0, 0.7);
    --overlay-white: rgba(255, 255, 255, 0.5);
    --overlay-hero: rgba(63, 208, 212, 0.5);

    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --transition: all 0.4s ease-in-out;
    --container-width: 1320px;
    
    --font-roboto: 'Roboto', sans-serif;
    --font-open: 'Open Sans', sans-serif;
    --font-cursive: "Great Vibes", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;  */
    scroll-behavior: smooth;
    scroll-padding-top: 102px; /* Adjust based on header height */
}

body {
    font-size: 16px;
    font-family: var(--font-open);
    /* background-color: var(--primary-color-7); */
    /* transition: var(--transition); */
}


/* Reusable class */
.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: 16px;
    margin: 0 auto;
}

section {
    height: 100vh;
    width: 100%;
    /* scroll-margin-top: 82px; */
    padding-top: 102px;
    /* display: flex; */
    /* align-items: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-black);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Header */
.header {
    /* background-color: var(--color-white); */
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-block: 16px;
}

.scrolled {
    background-color: var(--primary-color-9);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}

.header-wrapper {
    height: auto;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
}

.logo-wrapper {
    height: 70px;
    aspect-ratio: 1/1;
}

.logo-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 5.00;
    color: var(--color-black);
    letter-spacing: 2px;
    border: 1px solid transparent;
    padding: 10px;
    transition: var(--transition);
}

.nav-link:hover {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    
}

/* Hamburger */
.hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.fa-bars {
    font-size: 24px;
}

.collapse-header {
    display: none;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.collapse-navbar {
    display: none;
    padding-top: 20px;
}

.collapse-nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

.collapse-nav-item {
    width: 100%;
}

.collapse-nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-black);
    width: 100%;
    text-align: left;
    padding: 10px;
    transition: var(--transition);
    border: 1px solid transparent;

}

.collapse-nav-link:hover {
    border: 1px solid var(--color-black);
    /* background-color: var(--primary-color-9); */
    padding-left: 20px;
    
}
/* Main Content */
.main-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section {
    position: relative;
    display: flex;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    aspect-ratio: 1880 / 572;

}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--overlay-black), var(--overlay-hero));
    z-index: 0;
}

.hero-content {
    max-width: 660px;
    z-index: 1;
    text-align: center;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    font-family: var(--font-roboto);
}

.hero-description {
    font-size: 20px;
    line-height: 1.6;
    width: 100%;
    color: var(--color-white);
}

.hero-btn {
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: var(--transition);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hero-btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    transition: var(--transition);
}

.about-section {
    background-color: var(--primary-color-10);

}

.services-section {
    background-color: var(--color-white);
}

.tours-section {
    background-color: var(--primary-color-10);
}


.section-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 20px;
}

.section-description {
    font-size: 18px;
    text-align: center;
    color: var(--color-black);
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 660px;
    width: 100%;
}

.title-word {
    color: var(--primary-color);
}

/* Footer */
.footer {
    background-color: var(--primary-color-3);
    padding: 48px 0;

}

.footer-text {
    font-size: 16px;
    color: var(--color-white);
    text-align: center;
    letter-spacing: 4px;
}

/* Arrow Up */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--color-white);
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--light-shadow);
    font-size: 24px;
    text-decoration: none;
    transition: var(--transition);
    transform: scale(0.8);
    display: none;
}

.scroll-to-top.active {
    display: block;
}

.scroll-to-top:hover {
    transform: scale(1);
}








/* Responsive Breakpoints */
@media only screen and (max-width: 575px) {

    /* Header Section */
    .header {
        background-color: var(--color-white);
        box-shadow: none;
    }

    .header-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: none;
    }

    /* Hamburger */
    .hamburger-menu {
        display: block
    }

    .collapse-header {
        display: block;
    }

    .collapse-header.active {
        max-height: 300px;
    }

    .collapse-navbar {
        display: block;
    }

    .collapse-nav-link {
        font-size: 18px;
        padding: 8px;
    }

    /* Main Content */
    .hero-title {
        font-size: 36px;
    }

    .hero-description {
        font-size: 16px;
        line-height: 1.4;
    }

    .hero-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-description {
        font-size: 16px;
    }

    .footer-text {
        font-size: 14px;
        letter-spacing: 2px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {
     /* Header Section */
    .header {
        background-color: var(--color-white);
        box-shadow: none;

    }

    .header-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: none;
    }

    /* Hamburger */
    .hamburger-menu {
        display: block
    }

    .collapse-header {
        display: block;
    }

    .collapse-header.active {
        max-height: 300px;
    }

    .collapse-navbar {
        display: block;
    }

    .collapse-nav-link {
        font-size: 18px;
        padding: 8px;
    }

    /* Main Content */
    .hero-title {
        font-size: 48px;
    }

    .hero-description {
        font-size: 18px;
        line-height: 1.5;
    }

    .hero-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-description {
        font-size: 18px;
    }

    .footer-text {
        font-size: 16px;
        letter-spacing: 3px;
    }

}

@media only screen and (min-width:769px) and (max-width: 1024px) {

    /* Main Content */
    .hero-title {
        font-size: 48px;
    }

    .hero-description {
        font-size: 18px;
        line-height: 1.5;
    }

    .hero-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-description {
        font-size: 18px;
    }

    .footer-text {
        font-size: 16px;
        letter-spacing: 3px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    /* Main Content */
    .hero-title {
        font-size: 60px;
    }

    .hero-description {
        font-size: 20px;
        line-height: 1.6;
    }

    .hero-btn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .section-title {
        font-size: 36px;
    }

    .section-description {
        font-size: 20px;
    }

    .footer-text {
        font-size: 18px;
        letter-spacing: 4px;
    }
}