:root {
    --primary-color: #49a6e9;
    --rgb-primary-color: 73, 166, 233;

    /* PRIMARY COLORS */
    --primary-color-1: #0e1a26;
    --primary-color-2: #1c2e40;
    --primary-color-3: #2d455c;
    --primary-color-4: #3e6380;
    --primary-color-5: #4fa7db;
    --primary-color-6: #87c3eb;
    --primary-color-7: #a3d0ef;
    --primary-color-8: #bde0f3;
    --primary-color-9: #daf1fa;
    --primary-color-10: #f3fbfe;

    --color-black: #000;
    --color-white: #fff;
    --color-gold: #c59d5f;

    --rgb-black: 0, 0, 0;
    --rgb-gray: 128, 128, 128;

    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --transition: all 0.4s ease-in-out;
    --container-width: 1320px;
    --font-roboto: 'Roboto', sans-serif;
    --font-open: 'Open Sans', sans-serif;
    --font-cursive: "Great Vibes", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;  */
}

body {
    font-size: 16px;
    font-family: var(--font-open);
    background-color: var(--primary-color-10);

}


/* Reusable class */
.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: 16px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid var(--color-gold);
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-gold);
}

/* Main Content */
section {
    padding-block: 68px;
}

.section-head {
    text-align: center;
    margin-bottom: 40px;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color-1);
    text-align: center;
    margin-bottom: 10px;
}

.underline {
    width: 80px;
    height: 4px;
    background-color: var(--color-gold);
    margin: 0 auto
}

.section-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.filter-btn-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn:hover {
    background-color: var(--color-gold);
    color: var(--color-white);
    transition: var(--transition);
}

.menu-item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.food-image-wrapper {
    aspect-ratio: 3 / 2;
    height: 200px;
    width: 100%;
    border: 5px solid var(--color-gold);
    border-radius: 10px;
    overflow: hidden;
}

.food-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.food-info-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gold);
    padding-bottom: 5px;
}

.food-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color-1);
    letter-spacing: 4px;
    text-transform: capitalize;
}

.food-price {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-gold);
    letter-spacing: 2px;

}


/* Responsive Breakpoints */
@media only screen and (max-width: 575px) {

    .btn {
        font-size: 14px;
    }


    .menu-item-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .menu-item {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .food-title {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .food-price {
        font-size: 18px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
   
    .btn {
        font-size: 14px;
    }


    .menu-item-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .menu-item {
        align-items: center;
    }

    .food-title {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .food-price {
        font-size: 18px;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {


    .menu-item-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .menu-item {
        align-items: center;
    }

    .food-title {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .food-price {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {}