:root {
    --primary-color: #49a6e9;
    --rgb-primary-color: 73, 166, 233;

    /* PRIMARY COLORS */
    --primary-color-1: #0e1a26;
    --primary-color-2: #1c2e40;
    --primary-color-3: #2d455c;
    --primary-color-4: #3e6380;
    --primary-color-5: #4fa7db;
    --primary-color-6: #87c3eb;
    --primary-color-7: #a3d0ef;
    --primary-color-8: #bde0f3;
    --primary-color-9: #daf1fa;
    --primary-color-10: #f3fbfe;

    --color-black: #000;
    --color-white: #fff;
    --color-gold: #c59d5f;

    --rgb-black: 0, 0, 0;
    --rgb-gray: 128, 128, 128;

    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --transition: all 0.4s ease-in-out;
    --container-width: 1320px;
    --font-roboto: 'Roboto', sans-serif;
    --font-open: 'Open Sans', sans-serif;
    --font-cursive: "Great Vibes", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;  */
}

body {
    font-size: 16px;
    font-family: var(--font-open);
    background-color: var(--primary-color-10);

}


/* Reusable class */
.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: 16px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
}


/* Main Content */

section {
    padding-block: 68px;
}

.accordion-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    font-family: var(--font-cursive);
    color: var(--color-gold);
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 48px;
}

.accordions {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
}

.accordion-box {
    box-shadow: var(--dark-shadow);
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    /* gap: 20px; */
}

.accordion-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-block: 20px;
}

.fa-plus {
    margin: 0;
    color: var(--color-gold);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.icon {
    border: 1px solid var(--color-gold);
    padding: 2px 4px;
}



.accordion-title {
    letter-spacing: 4px;
}

.accordion-bottom {
    display: none;
    border-top: 1px solid rgba(var(--rgb-gray), 0.5);
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.accordion-desc {
    padding-block: 20px;
}