:root {
    --primary-color: #49a6e9;

    /* PRIMARY COLORS */
    --primary-color-1: #0e1a26;
    --primary-color-2: #1c2e40;
    --primary-color-3: #2d455c;
    --primary-color-4: #3e6380;
    --primary-color-5: #4fa7db;
    --primary-color-6: #87c3eb;
    --primary-color-7: #a3d0ef;
    --primary-color-8: #bde0f3;
    --primary-color-9: #daf1fa;
    --primary-color-10: #f3fbfe;

    /* GREY COLORS */
    --grey-color-1: #0f1a26;
    --grey-color-2: #2e3a48;
    --grey-color-3: #3d4c5c;
    --grey-color-4: #4f6173;
    --grey-color-5: #6f7d91;
    --grey-color-6: #91a0b2;
    --grey-color-7: #b0bdcb;
    --grey-color-8: #ced9e1;
    --grey-color-9: #e7edf3;
    --grey-color-10: #f5f8fa;

    --color-black: #222;
    --color-white: #fff;
    --transition: all 0.3 linear;

    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);


    --container-width: 1320px;
    --font-roboto: 'Roboto', sans-serif;
    --font-open: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--font-open);
    overflow-x: hidden;
    background-color: var(--primary-color-10);
    color: var(--color-black);
}

/* Reusable class */
.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: 16px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    user-select: none;
    color: var(--color-black);
}


.review-section {
    padding-block: 100px;
    /* margin: auto; */
}

.section-wrapper {
    max-width: 660px;
    margin: 0 auto;
}

.section-head {
    margin-bottom: 20px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

.underline {
    width: 80px;
    height: 4px;
    background-color: var(--primary-color-5);
    margin: 0 auto
}

.section-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--color-white);

}

.review-image {
    height: 150px;
    aspect-ratio: 1 / 1;
    position: relative;
}

.circle {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color-6);
    color: var(--color-white);
    border-radius: 50px;
    font-size: 50px;
    text-align: center;
    /* margin: 0 auto; */
}

.avatar-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 12px 0px 0px var(--primary-color-6);
}

.review-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    /* color: var(--); */
}

.info-role {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--primary-color-5);

}

.info-desc {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.review-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.arrow-icon-wrapper {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.prev-btn,
.next-btn {
    font-size: 24px;
    color: var(--primary-color-7);
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    opacity: 1;
    border: 1px solid var(--color-white);
}


.prev-btn:hover,
.next-btn:hover {
    color: var(--primary-color-5);
}

.prev-btn:focus,
.next-btn:focus {
    border: 2px solid var(--primary-color-5);
}

.primary-btn {
    color: var(--primary-color-5);
    border: 1px solid var(--primary-color-5);
}

.primary-btn:hover {
    color: var(--primary-color-3);
    background-color: var(--primary-color-9);
    border: 1px solid var(--primary-color-3);
}

/* Responsive Breakpoints */
@media only screen and (max-width: 575px) {
    .section-title {
        font-size: 36px;
    }

    .circle {
        height: 30px;
        width: 30px;
        font-size: 45px;
    }

    .review-image {
        height: 125px;
    }

    .info-title {
        font-size: 22px;
    }

    .info-role {
        font-size: 18px;
    }

    .info-desc {
        font-size: 16px;
        line-height: 24px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    .section-title {
        font-size: 38px;
    }

    .review-image {
        height: 150px;
    }

    .info-title {
        font-size: 24px;
    }

    .info-role {
        font-size: 20px;
    }

    .info-desc {
        font-size: 18px;
        line-height: 26px;
    }
}

/* 
@media only screen and (min-width:769px) and (max-width: 1024px) {}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {} */