:root {
    --primary-color: #c64a1c;
    --secondary-color: #262626;
    --accent-color: #b8b8bb;
    --color-black: #000;
    --color-white: #fff;


    --container-width: 1320px;
    --font-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--font-roboto);
    overflow-x: hidden;
}

.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: 16px;
    margin: 0 auto;
}

header {
    /* padding-block: 16px; */
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    aspect-ratio: 101 / 37;
}

.logo-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-item {
    cursor: pointer;
    position: relative;
    padding-block: 20px;
}

.nav-item-title {
    font-size: 24px;
    font-weight: 600;
}

.nav-item-title i.fa-angle-down {
    margin-left: 6px;
    transition: 0.3s all ease-in-out;
}


.nav-item:hover .nav-item-title {
    color: var(--primary-color);
}


/* -----------Dropdown------------- */
.dropdown-list {
    z-index: 0;
    visibility: hidden;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--color-white);
    list-style: none;
    padding: 16px;
    width: 200px;
    transform: translateY(-10px);
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    margin-top: 20px;
    opacity: 0;
    box-shadow: 0px 10px 13px -7px #000000;

}

.dropdown-item {
    padding: 10px;
    border: 1px solid var(--primary-color);

}

.dropdown-item:hover {
    border: 1px solid var(--color-white);
}

.arrow-rotate {
    transform: rotate(180deg);
}

.dropdown-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.arrow-svg {
    height: 20px;
}


/* -----------Select Dropdown------------- */
.select select {
    padding: 6px;
}

.select-dropdown {
    padding: 20px 0;
    position: relative;
    width: 180px;
    z-index: 5;
    /* margin-bottom: 20px; */
}

.select-dropdown-title {
    font-size: 20px;
    border: 1px solid white;
    padding: 4px;
}

.select-dropdown-list {
    z-index: -1;
    position: absolute;
    left: 0;
    margin-top: 20px;
    padding: 4px;
    background-color: var(--color-white);
    list-style: none;
    border: 1px solid var(--accent-color);
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-in-out;
    transform: translateY(-10px);

    box-shadow: 0px 10px 13px -7px #000000;
}

.select-dropdown-item {
    font-size: 18px;
    color: var(--color-black);
    padding: 6px;
    border: 1px solid var(--color-white);
    cursor: default;
}

.select-dropdown-item:hover {
    border: 1px solid var(--color-black);
    background-color: var(--accent-color);
}

.select-dropdown-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}



/* -----------Toast------------- */
section {
    padding-block: 48px;
}

.hero-wrapper {
    margin-block: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hero-title {
    font-size: 40px;
}

.hero-btn {
    width: fit-content;
    font-size: 20px;
    padding: 6px;

}

.toast-message {
    position: absolute;
    top: 15%;
    /* left: 40%; */
    right: 50px;
    padding: 10px;
    visibility: hidden;
    border: 2px solid var(--color-black);
    text-align: center;
    transform: translateX(100px);
    transition: 0.3s all ease-in-out;
}

.toast-message-show {
    visibility: visible;
    transform: translateX(0px);
}



/* -----------Accordian------------- */
.accordian-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.accordian {
    max-width: 650px;
    width: 100%;
    position: relative;
    border: 1px solid blue;
}

.accordian-head {
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.accordian-title {
    font-size: 20px;
    font-weight: 600;
}

.fa-chevron-down {
    font-size: 20px;
}

.accordian-body {
    position: relative;
    margin-top: 10px;
    border: 1px solid var(--accent-color);
    padding: 20px;
    border-radius: 50px;
    visibility: hidden;
}

.accordian-desc {
    font-size: 18px;
    font-weight: 600;
}

.accordian-head:hover+.accordian-body{
    visibility: visible;
}

/* ------------------------ */

/* .dropdown-hover {
    max-width: 300px;
    position: relative;
}

.wrapper {
    display: flex;

}

.navbar-title {
    background-color: var(--secondary-color);
    color: var(--color-white);
    padding: 12px;
    cursor: pointer;
}

.dropdown-list {
    position: absolute;
    visibility: hidden;
    list-style: none;
    background-color: var(--primary-color);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    width: 300px;
    transform: translateY(-200px);
    cursor: pointer;
    transition:  0.3s all ease-in-out;
    z-index: -1;
}

.dropdown-item {
    padding: 10px;
}
.dropdown-item:hover {
    border: 1px solid var(--color-white);
}

.fa-angle-down {
    color: #c64a1c;
    padding-left: 6px;
}


.arrow-rotate {
    transform: rotateX(180deg);
}

.dropdown-show {
    visibility: visible;
    transform: translateY(0px);
} */