:root {
    --primary-color: #c64a1c;
    --secondary-color: #262626;
    --accent-color: #b8b8bb;
    --color-black: #000;
    --color-white: #fff;

    --transition: all 0.4s ease-in;
    --container-width: 1320px;
    --font-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;

}

/* 
html {
    overflow-y: hidden;
} */

body {
    font-size: 16px;
    font-family: var(--font-roboto);

}

.noScroll {
    overflow: hidden !important;
}

.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: 16px;
    margin: 0 auto;
}


header {
    padding-block: 16px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--secondary-color);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    aspect-ratio: 101 / 37;
    overflow: hidden;
}

.logo-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-item {
    cursor: pointer;
    position: relative;
    padding-block: 20px;
    overscroll-behavior: auto;
    color: var(--accent-color);

}

.nav-item-title {
    font-size: 24px;
    font-weight: 600;
}

.nav-item-title i.fa-angle-down {
    margin-left: 6px;
    transition: var(--transition);
}


.nav-item:hover .nav-item-title {
    color: var(--primary-color);
}

/* Hamburger Menu */
.hamburger-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--accent-color);
}

.collapse-header {
    display: none;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.collapse-header.active {
    max-height: 430px;
}

.collapse-navbar {
    width: 100%
}

.collapse-nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    position: relative;
}

.collapse-nav-item {
    /* padding-block: 10px; */
    /* border: 1px solid red; */
    cursor: pointer;
}

.collapse-nav-anchor {
    color: var(--accent-color);
    text-decoration: none;
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding-block: 10px;
}

/* ----------- Mobile Dropdown ------------- */

.collapse-dropdown-list {
    position: relative;
    display: none;
    background-color: var(--primary-color);
    color: var(--color-white);
    list-style: none;
    padding-inline: 12px;
    height: 0;
    cursor: pointer;
    transition: var(--transition);
    opacity: 0;
    box-shadow: 0px 10px 13px -7px #000000;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.collapse-dropdown-item {
    border: 1px solid var(--primary-color);
    width: 100%;
}

.collapse-dropdown-item:hover {
    border: 1px solid var(--color-white);
}


.collapse-dropdown-list.show {
    display: flex;
    opacity: 1;
    height: 134px;
}

.collapse-collapse-nav-anchor i {
    display: block;
    transform: rotate(-90deg);
    transition: var(--transition);
}

.collapse-select select {
    padding: 6px;
}

.collapse-select-dropdown {
    padding: 20px 0;
    width: 180px;
    z-index: 1;
}

.collapse-select-dropdown-title {
    font-size: 20px;
    border: 1px solid white;
    padding: 4px;
    color: var(--accent-color);

}

.collapse-select-dropdown-list {
    z-index: -1;
    position: relative;
    top: 10px;
    /* transform: translateX(96px); */
    padding: 4px;
    background-color: var(--color-white);
    list-style: none;
    border: 1px solid var(--accent-color);
    width: 180px;
    opacity: 0;
    display: none;
    transition: var(--transition);
    /* transform: translateY(-10px); */

    box-shadow: 0px 10px 13px -7px #000000;
}

.collapse-select-dropdown-item {
    font-size: 18px;
    color: var(--color-black);
    padding: 6px;
    border: 1px solid var(--color-white);
    cursor: default;
}

.collapse-select-dropdown-item:hover {
    border: 1px solid var(--color-black);
    background-color: var(--accent-color);
}

.collapse-select-dropdown-show {
    display: block;
    opacity: 1;
    /* transform: translateY(0px); */
}




/* ----------- Desktop Dropdown ------------- */
.dropdown-list {
    z-index: 1;
    visibility: hidden;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--color-white);
    list-style: none;
    padding: 16px;
    width: 200px;
    transform: translateY(-10px);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 20px;
    opacity: 0;
    box-shadow: 0px 10px 13px -7px #000000;

}

.dropdown-item {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

/* This class is common in both Mobile and Desktop */
.dropdown-anchor-item {
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-white);
    padding-block: 10px;
}

.dropdown-item:hover {
    border: 1px solid var(--color-white);
}

.arrow-rotate {
    transform: rotate(180deg);
}

.dropdown-list.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.arrow-svg {
    height: 20px;
}


/* -----------Select Dropdown------------- */
.select select {
    padding: 6px;
}

.select-dropdown {
    padding: 20px 0;
    position: relative;
    width: 180px;
    z-index: 1;
    /* margin-bottom: 20px; */
}

.select-dropdown-title {
    font-size: 20px;
    border: 1px solid white;
    padding: 4px;
    color: var(--accent-color);

}

.select-dropdown-list {
    z-index: -1;
    position: absolute;
    left: 0;
    margin-top: 20px;
    padding: 4px;
    background-color: var(--color-white);
    list-style: none;
    border: 1px solid var(--accent-color);
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    transform: translateY(-10px);

    box-shadow: 0px 10px 13px -7px #000000;
}

.select-dropdown-item {
    font-size: 18px;
    color: var(--color-black);
    padding: 6px;
    border: 1px solid var(--color-white);
    cursor: default;
}

.select-dropdown-item:hover {
    border: 1px solid var(--color-black);
    background-color: var(--accent-color);
}

.select-dropdown-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}



/* -----------Toast------------- */
section {
    padding-block: 48px;
}

.hero-wrapper {
    margin-block: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hero-title {
    font-size: 40px;
}

.hero-btn {
    width: fit-content;
    font-size: 20px;
    padding: 6px;

}

.toast-message {
    position: absolute;
    top: 15%;
    /* left: 40%; */
    right: 0;
    padding: 10px;
    display: none;
    border: 2px solid var(--color-black);
    text-align: center;
    transform: translateX(250px);
    transition: var(--transition);
}

/* Class for JS to access */
.toast-message-show {
    display: inline-block;
    transform: translateX(0px);
    right: 20px;
    transition: var(--transition);

}


/* -----------accordion------------- */
.accordion-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.accordion {
    max-width: 650px;
    width: 100%;
    position: relative;
    cursor: pointer;
    /* border: 1px solid blue; */
}

.accordion-head {
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);

}

.accordion-title {
    font-size: 20px;
    font-weight: 600;
}

.fa-chevron-down {
    font-size: 20px;
    transition: var(--transition);
}

.accordion-body {
    position: relative;
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-body.show {
    visibility: visible;
    height: 82px;
    margin-top: 10px;
}

.accordion-desc {
    /* max-height: 0; */
    overflow: hidden;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
}


.arrow-rotate {
    transform: rotate(180deg);
    transition: var(--transition);
}


/* Small Devices - Phones */
@media only screen and (max-width: 575px) {

    /* Display: none - classes */
    .navbar {
        display: none;
    }

    .select-dropdown {
        display: none;
    }

    /* Mobile Layout */
    .header-wrapper {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .hamburger-header {
        width: 100%;
    }

    .hamburger-menu {
        display: flex;
    }

    .collapse-header {
        display: flex;
    }

    .collapse-nav-anchor {
        font-size: 16px;
    }

    .dropdown-anchor-item {
        font-size: 16px;
    }

    .collapse-select-dropdown-title{
        font-size: 16px;
    }

    .collapse-select-dropdown-item {
        font-size: 14px;
    }


    /* Desktop */
    .select-dropdown {
        width: 100%;
    }

    .select-dropdown-title {
        font-size: 16px;
    }

    .hero-title {
        font-size: 24px;
        text-align: center;
    }

    .hero-btn {
        font-size: 16px;
        padding: 8px 12px;
    }

    .accordion-title {
        font-size: 16px;
    }

    .accordion-desc {
        font-size: 14px;
    }
}

/* Medium Devices - Tablets */
@media only screen and (min-width: 576px) and (max-width: 768px) {

    /* Display: none - classes */
    .navbar {
        display: none;
    }

    .select-dropdown {
        display: none;
    }

    /* Mobile Layout */
    .header-wrapper {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .hamburger-header {
        width: 100%;
    }

    .hamburger-menu {
        display: flex;
    }

    .collapse-header {
        display: flex;
    }

    .collapse-nav-anchor {
        font-size: 16px;
    }

    .dropdown-anchor-item {
        font-size: 16px;
    }

    .collapse-select-dropdown-title{
        font-size: 16px;
    }

    .collapse-select-dropdown-item {
        font-size: 14px;
    }


    /* Desktop */
    .select-dropdown {
        width: 100%;
    }

    .hero-title {
        font-size: 28px;
        text-align: center;
    }

    .hero-btn {
        font-size: 18px;
        padding: 10px 14px;
    }

    .accordion-title {
        font-size: 18px;
    }

    .accordion-desc {
        font-size: 16px;
    }
}

/* Large Devices - Small Laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* .nav-item-title {
        font-size: 22px;
    } */

    .hero-title {
        font-size: 32px;
    }

    .hero-btn {
        font-size: 18px;
        padding: 10px 16px;
    }

    .accordion-title {
        font-size: 20px;
    }

    .accordion-desc {
        font-size: 17px;
    }
}

/* Extra Large Devices - Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    /* .nav-item-title {
        font-size: 24px;
    } */

    .hero-title {
        font-size: 36px;
    }

    .hero-btn {
        font-size: 20px;
        padding: 12px 18px;
    }

    .accordion-title {
        font-size: 22px;
    }

    .accordion-desc {
        font-size: 18px;
    }
}