:root {
    --primary-color: #49a6e9;
    --rgb-primary-color: 73, 166, 233;

    /* PRIMARY COLORS */
    --primary-color-1: #0e1a26;
    --primary-color-2: #1c2e40;
    --primary-color-3: #2d455c;
    --primary-color-4: #3e6380;
    --primary-color-5: #4fa7db;
    --primary-color-6: #87c3eb;
    --primary-color-7: #a3d0ef;
    --primary-color-8: #bde0f3;
    --primary-color-9: #daf1fa;
    --primary-color-10: #f3fbfe;

    --color-black: #000;
    --color-white: #fff;
    
    --rgb-black: 0, 0, 0;

    --transition: all 0.3 linear;

    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --transition: all 0.3s ease-out;
    --container-width: 1320px;
    --font-roboto: 'Roboto', sans-serif;
    --font-open: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;  */
}

body {
    font-size: 16px;
    font-family: var(--font-roboto);
    background-color: var(--primary-color-10);

}


/* Reusable class */
.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: 16px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
}


/* Main Section */


.modal {
    background-image: url("../assets/image/herobackground1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.modal-box {
    background-color: var(--color-white);
    padding: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal-title {
    font-size: 80px;
    text-align: center;
}

.primary-btn {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border-radius: 10px;
}

.primary-btn:hover {
    color: var(--primary-color);
    background-color: var(--color-white);
}

.show-overlay {
    visibility: visible !important;
    z-index: 3 !important;
}

/* Modal Overaly */
.modal-overlay {
    visibility: hidden;
    z-index: -3;
    display: flex;
    background-color: rgba(var(--rgb-black), 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: var(--transition);
}

.overlay-modal-box {
    background-color: var(--color-white);
    padding: 40px;
    max-width: 800px;
    height: 500px;
    border-radius: 12px;
    box-shadow: var(--dark-shadow);
    position: relative;
    display: flex;
    transition: var(--transition);
    align-items: center;
}

.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    color: var(--primary-color);
    cursor: pointer;
}

.fa-xmark:hover {
    transition: var(--transition);
    transform: rotate(360deg)
}




.review-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.info-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    /* color: var(--); */
}

.info-role {
    font-size: 22px;
    font-weight: 500;
    text-align: center;

}

.info-desc {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}